.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding: 0 1%;
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: none;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.nav-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}
.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-right button {
  background: none;
  border: none;
  color: white;
  font-size: 0.95rem;
  padding: 8px 14px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-right button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #b44cff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-right button:hover {
  color: #d9b3ff;
}

.nav-right button:hover::after {
  width: 100%;
}


.login-btn {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.4;
  cursor: not-allowed;
}
